<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Blog</title>
</head>

<body>

    <div>
        <h1><a href="/">Blog de Django</a></h1>
    </div>

    <div>
        <p>Hi there!</p>
        <p>It's alive!!!</p>
        <p>publicado em 24/11/2019, 17:40h</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Que Minas não tem mar todo mundo sabe, mas com um pouquinho de
            criatividade é possível encontrar opções para refrescar-se e fugir do calor,
            sem sair do Estado. Além das “praias de mineiro” encontradas em diferentes localidades,
            também podemos achar entre as montanhas e, ao redor da capital, diversas cachoeiras.
        </p>
    </div>

    <div>
        <p>publicado: 24/11/2019, 17:50h</p>
        <h2><a href="">Segundo post</a></h2>
        <p>Churrasco é o nome dado ao prato feito a base de carne in natura ou processada,
            assada sobre fogo ou brasas, com a utilização de estacas de madeira ou metal
            (chamados de espetos), ou de grelhas.
        </p>
    </div>
</body>

</html>